@model List<TaskApp.MVC.Models.IndexModel>

@{
    ViewData["Title"] = "Home Page";
}

<h1 style="text-align:center">All groups</h1>

<table class="table table-bordered table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Name</a>
            </th>
            <th scope="col">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NoOfTasksSortParm"]">Number of tasks</a>
            </th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model)
        {
            <tr>
                <td scope="row">
                    @Html.DisplayFor(modelItem => group.Name)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => group.UserTasksCount)
                </td>
                <td scope="row">
                    @Html.ActionLink("Edit", "Edit", "TaskGroup", new { groupId = @group.GroupId }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Delete", "Delete", "Home", new { groupId = @group.GroupId }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "TaskGroup")'">Create</button>